* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*     Navigation  Bar     */

nav {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #ff000059;
    background-image: repeating-linear-gradient(45deg, #ffdaba, transparent 100px);
}

nav a {
    font-size: 34px;
    margin: 61px;
    text-decoration: none;
    color: #1d364b;
}

#form input {
    width: 218px;
    border-radius: 68px;
    height: 27px;
}

main {
    background-image: linear-gradient(45deg, #994040, #502a2a00);
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    flex-direction: column;
    overflow: scroll;
}

img {
    margin-top: 20px;
}

h2 {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

button {
    background-color: #7dfcf0;
}

.movieBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}